openapi: 3.0.1
info:
  title: delivery
  description: delivery API
  version: 1.0.0
servers:
  - url: https://delivery-api.payhere.dev
tags: []
paths:
  /api/v1/address/search:
    get:
      tags:
        - 지역
      summary: 주소 조회
      description: 주소를 요청 하면 상세 주소를 반환
      operationId: GetAddress
      parameters:
        - name: query
          in: query
          description: 상세 조회할 주소
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressResponse'
              examples:
                GetAddress:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : [ {
                        "region_address" : "대전 서구 도안동 1362",
                        "road_address" : "대전 서구 도안동로 183",
                        "longitude" : "36.3211855917579",
                        "latitude" : "127.345384701781"
                      } ]
                    }
  /api/v1/sellers/{sid}/delivery-addresses:
    get:
      tags:
        - 배달 주소
      summary: 배달 주소 조회
      description: 배달 주소 조회
      operationId: GetDeliveryAddress
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeliveryAddressResponse'
              examples:
                GetDeliveryAddress:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : {
                        "region_addresses" : [ "", "대전 서구 도안동로", "", "", "", "", "", "" ],
                        "building_addresses" : [ "", "", "도안 아이파크", "", "", "", "", "" ]
                      }
                    }
    put:
      tags:
        - 배달 주소
      summary: 배달 주소 변경
      description: 배달 주소 변경
      operationId: UpdateDeliveryAddress
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateDeliveryAddressRequest'
            examples:
              UpdateDeliveryAddress:
                value: |-
                  {
                    "region_addresses" : [ "대전 서구 도안동로" ],
                    "building_addresses" : [ "도안 아이파크" ]
                  }
      responses:
        "204":
          description: "204"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDeliveryAddressResponse'
              examples:
                UpdateDeliveryAddress:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : { }
                    }
  /api/v1/sellers/{sid}/delivery-agencies:
    get:
      tags:
        - 배달 대행사
      summary: 배달 대행사 목록 조회
      description: 배달 대행사 목록 조회
      operationId: GetDeliveryAgencies
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: 배달 대행사 연동 상태
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeliveryAgenciesResponse'
              examples:
                GetDeliveryAgencies:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : [ {
                        "external_key" : "8a8e30c4-994a-4ea4-8767-9c65af7ad21b",
                        "agency" : "VROONG"
                      } ]
                    }
  /api/v1/sellers/{sid}/delivery-settings:
    get:
      tags:
        - 배달 설정
      summary: 배달 설정 조회
      description: "셀러의 배달 설정 상태를 조회, 셀러가 배달을 사용 하지 않다가 처음 사용 할때 기본값 반환"
      operationId: GetDeliverySetting - Activated
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeliverySettingResponse'
              examples:
                GetDeliverySetting - ActivatedTrue:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : {
                        "activated" : true,
                        "cooking_time_minutes" : 20,
                        "cooking_and_delivery_time_minutes" : 60,
                        "delivery_fee" : 5000
                      }
                    }
                GetDeliverySetting - ActivatedFalse:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : {
                        "activated" : false,
                        "cooking_time_minutes" : 20,
                        "cooking_and_delivery_time_minutes" : 60,
                        "delivery_fee" : 2000
                      }
                    }
    put:
      tags:
        - 배달 설정
      summary: 배달 설정 변경 및 저장
      description: "기존에 배달 설정을 했다면 변경, 하지 않았다면 저장"
      operationId: UpdateDeliverySetting
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateDeliverySettingRequest'
            examples:
              UpdateDeliverySetting:
                value: |-
                  {
                    "activated" : false,
                    "cooking_time_minutes" : 10,
                    "cooking_and_delivery_time_minutes" : 40,
                    "delivery_fee" : 3000
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDeliverySettingResponse'
              examples:
                UpdateDeliverySetting:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : { }
                    }
  /api/v1/sellers/{sid}/destinations:
    get:
      tags:
        - 배달
      summary: 배달 완료 주소
      description: 전화번호 뒷 4자리로 완료 주소 조회
      operationId: Destinations
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
        - name: phone_number
          in: query
          description: 전화번호 뒷 4자리
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
              examples:
                Destinations:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : [ {
                        "phone_number" : "6817",
                        "region_address" : "서울특별시 강남구 역삼동 826",
                        "road_address" : "서울특별시 강남구 강남대로 374",
                        "address_detail" : "16층",
                        "latitude" : "37.5143472181247",
                        "longitude" : "127.042014952824"
                      } ]
                    }
  /api/v1/vroong/callback/assigned:
    post:
      tags:
        - 부릉 콜백
      summary: 부릉 기사 배정 콜백
      description: 부릉 기사 배정 콜백
      operationId: VroongCallBackAssign
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/VroongCallBackAssignRequest'
            examples:
              VroongCallBackAssign:
                value: |-
                  {
                    "event_type" : "ASSIGNED",
                    "delivery_id" : "e58dcd35-313f-4c2b-9d8d-1173f25f0edf",
                    "client_order_no" : "3ace2da3-962d-4b3d-b36f-c762bbf58c22",
                    "branch_code" : "payhere",
                    "vr_pos_login_id" : "vrpos111",
                    "agent_id" : "5894dea3-c230-4e0d-8f51-db42046ea051",
                    "assigned_at" : "2024-01-05 16:38:48",
                    "agent_phone" : "01012341234",
                    "api_type" : "VR_POS_API"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VroongCallBackAssignResponse'
              examples:
                VroongCallBackAssign:
                  value: |-
                    {
                      "result" : "SUCCESS",
                      "error_message" : ""
                    }
  /api/v1/vroong/callback/canceled:
    post:
      tags:
        - 부릉 콜백
      summary: 부릉 배송 접수 콜백
      description: 부릉 배송 접수 콜백
      operationId: VroongCallBackSubmit
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/VroongCallBackSubmitRequest'
            examples:
              VroongCallBackSubmit:
                value: |-
                  {
                    "event_type" : "CANCELED",
                    "delivery_id" : "b8bb086f-5742-4dbe-8f1b-0c4c0bebca4c",
                    "client_order_no" : "531295c2-7416-4d62-8df4-f822824aa2c4",
                    "branch_code" : "payhere",
                    "vr_pos_login_id" : "vrpos111",
                    "canceled_at" : "2024-01-05 16:38:48",
                    "api_type" : "VR_POS_API"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VroongCallBackSubmitResponse'
              examples:
                VroongCallBackSubmit:
                  value: |-
                    {
                      "result" : "SUCCESS",
                      "error_message" : ""
                    }
  /api/v1/vroong/callback/delivered:
    post:
      tags:
        - 부릉 콜백
      summary: 부릉 배송 완료 콜백
      description: 부릉 배송 완료 콜백
      operationId: VroongCallBackReAssign
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/VroongCallBackCompleteRequest'
            examples:
              VroongCallBackReAssign:
                value: |-
                  {
                    "event_type" : "DELIVERED",
                    "delivery_id" : "10fb1878-131a-43c3-afb9-ef43f5e66aab",
                    "client_order_no" : "50b3d5a5-9f52-48bd-a1ec-f38762b2601c",
                    "branch_code" : "payhere",
                    "vr_pos_login_id" : "vrpos111",
                    "delivered_at" : "2024-01-05 16:38:48",
                    "agent_id" : "a3c7d78c-4a8b-4d52-9d95-53b07b9f3ee5",
                    "agent_phone" : "01012341234",
                    "api_type" : "VR_POS_API",
                    "complete_photo_url" : "https://payhere.image",
                    "is_returning_delivery" : true
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VroongCallBackCompleteResponse'
              examples:
                VroongCallBackReAssign:
                  value: |-
                    {
                      "result" : "SUCCESS",
                      "error_message" : ""
                    }
  /api/v1/vroong/callback/payment_complete:
    post:
      tags:
        - 부릉 콜백
      summary: 부릉 결제 콜백
      description: 부릉 결제 콜백
      operationId: VroongCallBackCompletePayment
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/VroongCallBackCompletePaymentRequest'
            examples:
              VroongCallBackCompletePayment:
                value: |-
                  {
                    "event_type" : "DELIVERY_PAYMENT",
                    "delivery_id" : "df61400e-dece-41f7-8473-742b4153658a",
                    "client_order_no" : "b6557456-4083-49fa-9902-74b3219cf7c0",
                    "branch_code" : "payhere",
                    "payment_type" : "APPROVED",
                    "payment_method" : "CARD",
                    "payment_amount" : "12500",
                    "created_at" : "2024-01-05 16:38:48",
                    "credit_card_approval_info" : {
                      "card_company" : "NH카드",
                      "card_number" : "555112",
                      "authorization_number" : "47474764",
                      "authorized_at" : "2021-01-08 00:00:00"
                    }
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VroongCallBackCompletePaymentResponse'
              examples:
                VroongCallBackCompletePayment:
                  value: |-
                    {
                      "result" : "SUCCESS",
                      "error_message" : ""
                    }
  /api/v1/vroong/callback/unassigned:
    post:
      tags:
        - 부릉 콜백
      summary: 부릉 기사 배정 취소 콜백
      description: 부릉 기사 배정 취소 콜백
      operationId: VroongCallBackUnAssign
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/VroongCallBackUnAssignRequest'
            examples:
              VroongCallBackUnAssign:
                value: |-
                  {
                    "event_type" : "UNASSIGNED",
                    "delivery_id" : "20299877-4dc9-48a3-a5a8-8ce0c6b5935b",
                    "client_order_no" : "136ac436-10cb-4766-aea3-cf2d5734968d",
                    "branch_code" : "payhere",
                    "vr_pos_login_id" : "vrpos111",
                    "unassigned_at" : "2024-01-05 16:38:48",
                    "api_type" : "VR_POS_API"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VroongCallBackUnAssignResponse'
              examples:
                VroongCallBackUnAssign:
                  value: |-
                    {
                      "result" : "SUCCESS",
                      "error_message" : ""
                    }
  /api/v1/sellers/{sid}/deliveries/{external-key}/cancel:
    post:
      tags:
        - 배달
      summary: 배달 취소
      description: 셀러가 요청했던 배달 대행사를 취소
      operationId: CancelDelivery
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
        - name: external-key
          in: path
          description: 배달 외부키
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelDeliveryResponse'
              examples:
                CancelDelivery:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : { }
                    }
  /api/v1/sellers/{sid}/delivery-agencies/{external-key}/delivery-fee:
    post:
      tags:
        - 배달 대행사
      summary: 배달 대행사 예치금 조회
      description: 배달 대행사 예치금 조회
      operationId: GetAgencyPaymentFee
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
        - name: external-key
          in: path
          description: 배달 외부키
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/GetAgencyPaymentFeeRequest'
            examples:
              GetAgencyPaymentFee:
                value: |-
                  {
                    "region_address" : "서울특별시 강남구 역삼동 826",
                    "road_address" : "서울특별시 강남구 강남대로 374",
                    "address_detail" : "16층",
                    "latitude" : "37.5143472181247",
                    "longitude" : "127.042014952824"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAgencyPaymentFeeResponse'
              examples:
                GetAgencyPaymentFee:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : {
                        "balance" : 5000,
                        "delivery_fee" : 2000,
                        "extra_delivery_fee" : 1000,
                        "total_delivery_fee" : 3000
                      }
                    }
  /api/v1/sellers/{sid}/orders/{oid}/delivery-agencies/{agency}/payment-fee:
    get:
      tags:
        - 배달 대행사
      summary: 배달 대행사 예치금 조회
      description: 배달 대행사 예치금 조회
      operationId: GetAgencyPaymentFee - 배송 불가 지역
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
        - name: oid
          in: path
          description: 주문 외부키
          required: true
          schema:
            type: string
        - name: agency
          in: path
          description: 배달 대행사 이름 (VROONG)
          required: true
          schema:
            type: string
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAgencyPaymentFeeResponse'
              examples:
                GetAgencyPaymentFee - 배송 불가 지역:
                  value: |-
                    {
                      "meta" : {
                        "code" : "40004501",
                        "type" : "out_of_region",
                        "message" : "배달 가능한 지역이 아닙니다."
                      },
                      "data" : null
                    }
  /internal-api/v1/sellers/{sid}/deliveries:
    get:
      tags:
        - 배달
      summary: 주문별 배달 목록 조회
      description: 셀러가 받은 주문별 배달 목록 조회
      operationId: OrderInDeliveries
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
        - name: oid
          in: query
          description: 주문 외부키 (하나 이상)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInDeliveriesResponse'
              examples:
                OrderInDeliveries:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : [ {
                        "oid" : "oi123",
                        "receipt" : {
                          "name" : "이수령",
                          "phone_number" : "01034563456",
                          "region_address" : "서울특별시 강남구 역삼동 826",
                          "road_address" : "서울특별시 강남구 강남대로 374",
                          "address_detail" : "16층",
                          "latitude" : "37.5143472181247",
                          "longitude" : "127.042014952824"
                        },
                        "agency" : {
                          "name" : "VROONG",
                          "rider_name" : "김배달",
                          "rider_phone_number" : "01054325432"
                        },
                        "payment" : {
                          "type" : "PRE_PAID",
                          "method" : "CARD",
                          "captured_amount" : "22000.00",
                          "delivery_fee" : "2000.00"
                        },
                        "delivery_memo" : "애기가 자고있어요 문앞에 놔주세요.",
                        "status" : "STANDBY"
                      }, {
                        "oid" : "oi456",
                        "receipt" : {
                          "name" : "김수령",
                          "phone_number" : "01012341234",
                          "region_address" : "",
                          "road_address" : "",
                          "address_detail" : "",
                          "latitude" : "",
                          "longitude" : ""
                        },
                        "agency" : {
                          "name" : "VROONG",
                          "rider_name" : "김기사",
                          "rider_phone_number" : "01054325432"
                        },
                        "payment" : {
                          "type" : "",
                          "method" : "",
                          "captured_amount" : "",
                          "delivery_fee" : ""
                        },
                        "delivery_memo" : "",
                        "status" : "STANDBY"
                      } ]
                    }
  /internal-api/v1/sellers/{sid}/orders/{oid}/deliveries:
    post:
      tags:
        - 배달
      summary: 배달 등록
      description: 셀러가 들어온 주문을 배달하기 위해 배달 등록
      operationId: RegisterDelivery
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
        - name: oid
          in: path
          description: 주문 외부키
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/RegisterDeliveryRequest'
            examples:
              RegisterDelivery:
                value: |-
                  {
                    "type" : "AGENCY",
                    "agency" : "VROONG",
                    "platform" : "BAEMIN",
                    "delivery_items" : [ {
                      "name" : "치킨",
                      "quantity" : 1,
                      "price" : 12000,
                      "options" : [ {
                        "name" : "치킨무",
                        "quantity" : 1,
                        "price" : 0
                      } ]
                    } ],
                    "receipt" : {
                      "name" : "이정윤",
                      "phone_number" : "01024026817",
                      "region_address" : "대전 서구 도안동 1362",
                      "road_address" : "대전 서구 도안동로 183",
                      "address_detail" : "1511동 904호",
                      "latitude" : "127.345384701781",
                      "longitude" : "36.3211855917579"
                    },
                    "reserved_at" : "2024-01-05T19:38:45.233405",
                    "payment" : {
                      "type" : "PRE_PAID",
                      "method" : "CARD",
                      "captured_amount" : 20000,
                      "delivery_fee" : 3000
                    },
                    "cooking_time_minutes" : 20,
                    "delivery_time_minutes" : 20,
                    "delivery_memo" : "문앞에 놔두고 노크해 주세요.",
                    "is_untact" : true
                  }
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterDeliveryResponse'
              examples:
                RegisterDelivery:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20100000",
                        "type" : "created",
                        "message" : null
                      },
                      "data" : {
                        "external_key" : "46e2a39a-a842-4a63-a908-9862a79425c5"
                      }
                    }
  /internal-api/v1/sellers/{sid}/orders/{oid}/delivery-track:
    get:
      tags:
        - 배달 추적
      summary: 배달중 조회
      description: 배달중 조회
      operationId: DeliveryTrack
      parameters:
        - name: sid
          in: path
          description: 셀러 외부키
          required: true
          schema:
            type: string
        - name: oid
          in: path
          description: 주문 외부키
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryTrackResponse'
              examples:
                DeliveryTrack:
                  value: |-
                    {
                      "meta" : {
                        "code" : "20000000",
                        "type" : "success",
                        "message" : null
                      },
                      "data" : {
                        "status" : "DELIVERING",
                        "agent_name" : "페이히어 배달 기사",
                        "agent_phone" : "01024026817",
                        "agent_lat" : "127.345384701781",
                        "agent_lng" : "36.3211855917579"
                      }
                    }
components:
  schemas:
    VroongCallBackCompletePaymentResponse:
      title: VroongCallBackCompletePaymentResponse
      required:
        - error_message
        - result
      type: object
      properties:
        error_message:
          type: string
          description: 에러 메세지
        result:
          type: string
          description: 결과
    VroongCallBackUnAssignRequest:
      title: VroongCallBackUnAssignRequest
      type: object
    GetAgencyPaymentFeeResponse:
      title: GetAgencyPaymentFeeResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          required:
            - balance
            - delivery_fee
            - extra_delivery_fee
            - total_delivery_fee
          type: object
          properties:
            delivery_fee:
              type: number
              description: 배송비
            balance:
              type: number
              description: 예치금 잔액
            extra_delivery_fee:
              type: number
              description: 할증 배송비
            total_delivery_fee:
              type: number
              description: 배송비 합계
          description: Data
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    VroongCallBackSubmitRequest:
      title: VroongCallBackSubmitRequest
      type: object
    GetDeliverySettingResponse:
      title: GetDeliverySettingResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          required:
            - activated
            - cooking_and_delivery_time_minutes
            - cooking_time_minutes
            - delivery_fee
          type: object
          properties:
            delivery_fee:
              type: number
              description: 배달비
            cooking_and_delivery_time_minutes:
              type: number
              description: 조리 및 배달 소요 시간(분)
            cooking_time_minutes:
              type: number
              description: 조리 소요 시간(분)
            activated:
              type: boolean
              description: 배달 사용 여부
          description: Data
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    VroongCallBackAssignResponse:
      title: VroongCallBackAssignResponse
      required:
        - error_message
        - result
      type: object
      properties:
        error_message:
          type: string
          description: 에러 메세지
        result:
          type: string
          description: 결과
    GetDeliveryAgenciesResponse:
      title: GetDeliveryAgenciesResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          type: array
          description: Data
          items:
            required:
              - agency
              - external_key
            type: object
            properties:
              external_key:
                type: string
                description: 배달 대행사 외부키
              agency:
                type: string
                description: 배달 대행사 이름 (VROONG)
                enum: []
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    GetAddressResponse:
      title: GetAddressResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          type: array
          description: Data
          items:
            required:
              - latitude
              - longitude
              - region_address
              - road_address
            type: object
            properties:
              latitude:
                type: string
                description: y 좌표
              region_address:
                type: string
                description: 지번 주소
              road_address:
                type: string
                description: 도로명 주소
              longitude:
                type: string
                description: x 좌표
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    RegisterDeliveryResponse:
      title: RegisterDeliveryResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          required:
            - external_key
          type: object
          properties:
            external_key:
              type: string
              description: 배달 외부키
          description: Data
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    VroongCallBackCompleteRequest:
      title: VroongCallBackCompleteRequest
      type: object
    UpdateDeliverySettingResponse:
      title: UpdateDeliverySettingResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          type: object
          description: Data
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    VroongCallBackAssignRequest:
      title: VroongCallBackAssignRequest
      type: object
    GetAgencyPaymentFeeRequest:
      title: GetAgencyPaymentFeeRequest
      required:
        - address_detail
        - latitude
        - longitude
        - region_address
        - road_address
      type: object
      properties:
        address_detail:
          type: string
          description: 상세 주소
        latitude:
          type: string
          description: 위도
        region_address:
          type: string
          description: 지번 주소
        road_address:
          type: string
          description: 도로명 주소
        longitude:
          type: string
          description: 경도
    GetDeliveryAddressResponse:
      title: GetDeliveryAddressResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          required:
            - building_addresses
            - region_addresses
          type: object
          properties:
            region_addresses:
              type: array
              description: 지번 주소 목록
              items:
                oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
            building_addresses:
              type: array
              description: 건물 주소 목록
              items:
                oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
          description: Data
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    CancelDeliveryResponse:
      title: CancelDeliveryResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          type: object
          description: Data
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    UpdateDeliveryAddressRequest:
      title: UpdateDeliveryAddressRequest
      required:
        - building_addresses
        - region_addresses
      type: object
      properties:
        region_addresses:
          type: array
          description: 지번 주소 목록
          items:
            oneOf:
              - type: object
              - type: boolean
              - type: string
              - type: number
        building_addresses:
          type: array
          description: 건물 주소 목록
          items:
            oneOf:
              - type: object
              - type: boolean
              - type: string
              - type: number
    VroongCallBackCompletePaymentRequest:
      title: VroongCallBackCompletePaymentRequest
      type: object
    OrderInDeliveriesResponse:
      title: OrderInDeliveriesResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          type: array
          description: Data
          items:
            required:
              - agency
              - delivery_memo
              - oid
              - payment
              - receipt
              - status
            type: object
            properties:
              agency:
                required:
                  - name
                  - rider_name
                  - rider_phone_number
                type: object
                properties:
                  rider_name:
                    type: string
                    description: 배달 대행사 기사 이름
                  name:
                    type: string
                    description: 배달 대행사 이름 (VROONG)
                  rider_phone_number:
                    type: string
                    description: 배달 대행사 기사 전화번호
                description: 배달 대행사
              delivery_memo:
                type: string
                description: 배달 메모
              payment:
                required:
                  - captured_amount
                  - delivery_fee
                  - method
                  - type
                type: object
                properties:
                  delivery_fee:
                    type: string
                    description: 배달비
                  method:
                    type: string
                    description: 배달 결제 수단
                  captured_amount:
                    type: string
                    description: 배달 결제 금액
                  type:
                    type: string
                    description: 배달 결제 종류
                description: 배달 결제
              receipt:
                required:
                  - address_detail
                  - latitude
                  - longitude
                  - name
                  - phone_number
                  - region_address
                  - road_address
                type: object
                properties:
                  address_detail:
                    type: string
                    description: 배달 수령인 상세 주소
                  latitude:
                    type: string
                    description: 배달 수령인 위치 y 좌표
                  name:
                    type: string
                    description: 배달 수령인 이름
                  region_address:
                    type: string
                    description: 배달 수령인 지번 주소
                  phone_number:
                    type: string
                    description: 배달 수령인 전화번호
                  road_address:
                    type: string
                    description: 배달 수령인 도로명 주소
                  longitude:
                    type: string
                    description: 배달 수령인 x 좌표
                description: 배달 수령인
              oid:
                type: string
                description: 주문 외부키
              status:
                type: string
                description: "배달 상태 (STANDBY, SUBMITTED, SUBMIT_FAILED, CANCELED,ASSIGNED,\
                  \ PICKED_UP, DELIVERED)"
                enum: []
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    VroongCallBackSubmitResponse:
      title: VroongCallBackSubmitResponse
      required:
        - error_message
        - result
      type: object
      properties:
        error_message:
          type: string
          description: 에러 메세지
        result:
          type: string
          description: 결과
    GetDestinationsResponse:
      title: GetDestinationsResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          type: array
          description: Data
          items:
            required:
              - address_detail
              - latitude
              - longitude
              - phone_number
              - region_address
              - road_address
            type: object
            properties:
              address_detail:
                type: string
                description: 상세 주소
              latitude:
                type: string
                description: y 좌표
              region_address:
                type: string
                description: 지번 주소
              phone_number:
                type: string
                description: 전화번호 뒷 4자리
              road_address:
                type: string
                description: 도로명 주소
              longitude:
                type: string
                description: x 좌표
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    UpdateDeliveryAddressResponse:
      title: UpdateDeliveryAddressResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          type: object
          description: Data
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    DeliveryTrackResponse:
      title: DeliveryTrackResponse
      required:
        - data
        - meta
      type: object
      properties:
        data:
          required:
            - agent_lat
            - agent_lng
            - agent_name
            - agent_phone
            - status
          type: object
          properties:
            agent_lat:
              type: string
              description: 배달 기사 y 좌표
            agent_name:
              type: string
              description: 배달 기사 이름
            agent_lng:
              type: string
              description: 배달 기사 x 좌표
            agent_phone:
              type: string
              description: 배달 기사 전화번호
            status:
              type: string
              description: 배달 기사 상태
          description: Data
        meta:
          required:
            - code
          type: object
          properties:
            code:
              type: string
              description: MetaCode
            message:
              type: string
              description: Error Message
              nullable: true
            type:
              type: string
              description: MetaCode name
              nullable: true
          description: Meta
    UpdateDeliverySettingRequest:
      title: UpdateDeliverySettingRequest
      required:
        - activated
        - cooking_and_delivery_time_minutes
        - cooking_time_minutes
        - delivery_fee
      type: object
      properties:
        delivery_fee:
          type: number
          description: 배달비
        cooking_and_delivery_time_minutes:
          type: number
          description: 조리 및 배달 소요 시간(분)
        cooking_time_minutes:
          type: number
          description: 조리 소요 시간(분)
        activated:
          type: boolean
          description: 배달 사용 여부
    VroongCallBackUnAssignResponse:
      title: VroongCallBackUnAssignResponse
      required:
        - error_message
        - result
      type: object
      properties:
        error_message:
          type: string
          description: 에러 메세지
        result:
          type: string
          description: 결과
    VroongCallBackCompleteResponse:
      title: VroongCallBackCompleteResponse
      required:
        - error_message
        - result
      type: object
      properties:
        error_message:
          type: string
          description: 에러 메세지
        result:
          type: string
          description: 결과
    RegisterDeliveryRequest:
      title: RegisterDeliveryRequest
      required:
        - cooking_time_minutes
        - delivery_items
        - delivery_time_minutes
        - payment
        - receipt
        - type
      type: object
      properties:
        delivery_time_minutes:
          type: number
          description: 배달 소요 시간(분)
        agency:
          type: string
          description: 배달 대행사 (VROONG)
          nullable: true
          enum: []
        delivery_memo:
          type: string
          description: 배달 메모
          nullable: true
        cooking_time_minutes:
          type: number
          description: 조리 소요 시간(분)
        payment:
          required:
            - captured_amount
            - delivery_fee
            - method
            - type
          type: object
          properties:
            delivery_fee:
              type: number
              description: 배달비 (배달 수령인이 지불할)
            method:
              type: string
              description: 결제 수단
            captured_amount:
              type: number
              description: 총 결제 금액
            type:
              type: string
              description: 결제 종류
          description: 배달 결제
        receipt:
          required:
            - name
            - phone_number
          type: object
          properties:
            address_detail:
              type: string
              description: 상세 주소
              nullable: true
            latitude:
              type: string
              description: x 좌표
              nullable: true
            name:
              type: string
              description: 배달 수령인 이름
            region_address:
              type: string
              description: 배달 도착 지번 주소
              nullable: true
            phone_number:
              type: string
              description: 배달 수령인 전화번호
            road_address:
              type: string
              description: 배달 도착 도로명 주소
              nullable: true
            longitude:
              type: string
              description: y 좌표
              nullable: true
          description: 배달 수령인
        delivery_items:
          type: array
          description: 배달 상품 목록
          items:
            required:
              - name
              - price
              - quantity
            type: object
            properties:
              quantity:
                type: number
                description: 상품 수량
              price:
                type: number
                description: 상품 가격
              options:
                type: array
                description: 배달 상품 옵션 목록
                items:
                  required:
                    - name
                    - price
                    - quantity
                  type: object
                  properties:
                    quantity:
                      type: number
                      description: 옵션 수량
                    price:
                      type: number
                      description: 옵션 가격
                    name:
                      type: string
                      description: 옵션 이름
              name:
                type: string
                description: 상품 이름
        reserved_at:
          type: string
          description: 예약 배송 도착 완료 시간
          nullable: true
        type:
          type: string
          description: "배달 종류 (PICKUP, AGENCY)"
          enum: []
        platform:
          type: string
          description: "주문 플랫폼 (BAEMIN, BAEMIN_ONE, YOGIYO)"
          nullable: true
          enum: []
        is_untact:
          type: boolean
          description: 대면/비대면 배달
          nullable: true
